In [2]:
import time,re,os,pathlib,time,configparser
from sys import exit,argv
from datetime import datetime
from time import gmtime,strftime

from selenium import webdriver
from selenium.webdriver.chrome.service import Service

from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import Select
from selenium.webdriver.common.keys import Keys

from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

from bs4 import BeautifulSoup


#url="https://www.tpex.org.tw/zh-tw/mainboard/trading/margin-trading/sbl.html"
url="https://www.twse.com.tw/rwd/zh/marginTrading/TWT93U?date=20241028&response=html"

In [3]:
service = Service("C:\\chromedriver\\chromedriver.exe")
driver = webdriver.Chrome(service=service)
driver.get(url)

In [7]:
def remove_comma(num_str):
    return str(num_str).replace(",","")

today_str="20241028"
source=driver.page_source
div_element = driver.find_element(By.TAG_NAME, 'html')
#  DIV  HTML 
inner_html = div_element.get_attribute('innerHTML')
print(len(inner_html))
soup = BeautifulSoup(inner_html, 'html.parser')
target_table = soup.select_one('table tbody')
final_ls=[]
cells=[]
for row in target_table.find_all('tr'):
    cells.append( row )
for i in range(0,len(cells)-1):
    ls=re.findall(r"<td[^>]*>(.*?)</td>",str(cells[i]))
    final_ls.append([today_str,ls[0],remove_comma(ls[9]),remove_comma(ls[10]),remove_comma(ls[11]),remove_comma(ls[12]),remove_comma(ls[13]),'0'])
print(final_ls)

1189076

In [3]:
#datepicker = driver.find_element(By.CSS_SELECTOR,"#___auto1")
#print(datepicker.get_attribute('value'))
button = driver.find_element(By.XPATH,"//*[contains(text(),'/HTML')]")
button.click()

In [4]:
# https://www.tpex.org.tw/www/zh-tw/margin/sbl?date=2024%2F10%2F28&id=&response=html
driver.switch_to.window(driver.window_handles[1])
source =driver.page_source
print(source)

<html lang="zh"><head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title></title>
    <link rel="icon" type="image/ico" href="/ch/favicon.ico">
    <link rel="SHORTCUT ICON" href="/ch/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/rsrc/css/gtsm_print.css">
</head>

<body>

    <h1 style="display: none;">&nbsp;:113/10/28</h1>

<table>
    <thead>

        <tr>
            <th align="left" scope="col" colspan="15">&nbsp;:113/10/28</th>
        </tr>
        <tr>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"><br></th>
            <th scope="col"><br></th>
            <th scope="col"><br></th>
            <th scope="col"><br></th>
            <th scope="col"><br></th>
            <th scope="col"><br></th>
            <th scope="col"><br></th>
            <th scope="col"><br></th>
            <th scope="col"><br></th>
            <th scope="col"><br></th>
            <th scope="col"><br></th>
            <th scope="col"><br></th>
            <th scope="col"></th>
        </tr>

    </thead>
    <tbody>

        <tr>
            <td>00679B</td>
            <td>20</td>
            <td align="right">5,000</td>
            <td align="right">17,000</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">22,000</td>
            <td align="right">2,570,048,000</td>
            <td align="right">203,449,000</td>
            <td align="right">0</td>
            <td align="right">7,500,000</td>
            <td align="right">0</td>
            <td align="right">195,949,000</td>
            <td align="right">28,640,947</td>
            <td align="right"></td>
        </tr>

        <tr>
            <td>00687B</td>
            <td>20</td>
            <td align="right">73,000</td>
            <td align="right">6,000</td>
            <td align="right">5,000</td>
            <td align="right">0</td>
            <td align="right">74,000</td>
            <td align="right">2,100,571,750</td>
            <td align="right">125,451,000</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">125,451,000</td>
            <td align="right">30,189,839</td>
            <td align="right"></td>
        </tr>

        <tr>
            <td>00694B</td>
            <td>1-3</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">47,394,000</td>
            <td align="right">306,000</td>
            <td align="right">1,000</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">307,000</td>
            <td align="right">88,650</td>
            <td align="right"></td>
        </tr>

        <tr>
            <td>00695B</td>
            <td>7-10</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">8,921,500</td>
            <td align="right">415,000</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">415,000</td>
            <td align="right">351,419</td>
            <td align="right"></td>
        </tr>

        <tr>
            <td>00696B</td>
            <td>20</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">273,920,250</td>
            <td align="right">7,557,000</td>
            <td align="right">20,000</td>
            <td align="right">500,000</td>
            <td align="right">0</td>
            <td align="right">7,077,000</td>
            <td align="right">2,938,836</td>
            <td align="right"></td>
        </tr>

        <tr>
            <td>00697B</td>
            <td>7-10</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">13,303,000</td>
            <td align="right">320,000</td>
            <td align="right">2,000</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">322,000</td>
            <td align="right">258,246</td>
            <td align="right"></td>
        </tr>

        <tr>
            <td>00718B</td>
            <td></td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">85,500,250</td>
            <td align="right">161,000</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">161,000</td>
            <td align="right">31,947</td>
            <td align="right"></td>
        </tr>

        <tr>
            <td>00719B</td>
            <td>1-3</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">99,378,500</td>
            <td align="right">3,769,000</td>
            <td align="right">7,000</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">3,776,000</td>
            <td align="right">937,926</td>
            <td align="right"></td>
        </tr>

        <tr>
            <td>00720B</td>
            <td></td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">1,079,652,250</td>
            <td align="right">34,899,000</td>
            <td align="right">644,000</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">35,543,000</td>
            <td align="right">4,278,132</td>
            <td align="right"></td>
        </tr>

        <tr>
            <td>00722B</td>
            <td></td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">385,184,750</td>
            <td align="right">3,763,000</td>
            <td align="right">0</td>
            <td align="right">543,000</td>
            <td align="right">0</td>
            <td align="right">3,220,000</td>
            <td align="right">1,374,791</td>
            <td align="right"></td>
        </tr>

        <tr>
            <td>00723B</td>
            <td></td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">374,395,750</td>
            <td align="right">128,000</td>
            <td align="right">32,000</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">160,000</td>
            <td align="right">965,380</td>
            <td align="right"></td>
        </tr>

        <tr>
            <td>00724B</td>
            <td></td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">712,693,750</td>
            <td align="right">8,499,000</td>
            <td align="right">7,000</td>
            <td align="right">800,000</td>
            <td align="right">0</td>
            <td align="right">7,706,000</td>
            <td align="right">3,555,618</td>
            <td align="right"></td>
        </tr>

        <tr>
            <td>00725B</td>
            <td></td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">813,551,500</td>
            <td align="right">8,769,000</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">8,769,000</td>
            <td align="right">3,796,509</td>
            <td align="right"></td>
        </tr>

        <tr>
            <td>00726B</td>
            <td></td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">290,872,250</td>
            <td align="right">910,000</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">910,000</td>
            <td align="right">96,992</td>
            <td align="right"></td>
        </tr>

        <tr>
            <td>00727B</td>
            <td></td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">23,797,250</td>
            <td align="right">163,000</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">163,000</td>
            <td align="right">41,656</td>
            <td align="right"></td>
        </tr>

        <tr>
            <td>00734B</td>
            <td>JPM</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">7,619,750</td>
            <td align="right">317,000</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">317,000</td>
            <td align="right">184,182</td>
            <td align="right"></td>
        </tr>

        <tr>
            <td>00740B</td>
            <td></td>
            <td align="right">34,000</td>
            <td align="right">0</td>
            <td align="right">9,000</td>
            <td align="right">0</td>
            <td align="right">25,000</td>
            <td align="right">403,742,750</td>
            <td align="right">3,482,000</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">3,482,000</td>
            <td align="right">2,744,482</td>
            <td align="right"></td>
        </tr>

        <tr>
            <td>00741B</td>
            <td></td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">4,657,000</td>
            <td align="right">189,000</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">189,000</td>
            <td align="right">190,549</td>
            <td align="right"></td>
        </tr>

        <tr>
            <td>00746B</td>
            <td>A</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">596,741,000</td>
            <td align="right">692,000</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">692,000</td>
            <td align="right">458,883</td>
            <td align="right"></td>
        </tr>

        <tr>
            <td>00749B</td>
            <td>10+</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">237,875,000</td>
            <td align="right">25,000</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">25,000</td>
            <td align="right">32,718</td>
            <td align="right">X</td>
        </tr>

        <tr>
            <td>00750B</td>
            <td>10+</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">36,875,000</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">30,870</td>
            <td align="right">X</td>
        </tr>

        <tr>
            <td>00751B</td>
            <td>AAAA</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">1,141,025,750</td>
            <td align="right">22,280,000</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">22,280,000</td>
            <td align="right">3,651,539</td>
            <td align="right"></td>
        </tr>

        <tr>
            <td>00754B</td>
            <td>AAA-AA</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">160,725,000</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">44,679</td>
            <td align="right">X</td>
        </tr>

        <tr>
            <td>00755B</td>
            <td></td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">51,307,500</td>
            <td align="right">170,000</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">170,000</td>
            <td align="right">536,499</td>
            <td align="right"></td>
        </tr>

        <tr>
            <td>00756B</td>
            <td></td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">281,950,000</td>
            <td align="right">898,000</td>
            <td align="right">16,000</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">914,000</td>
            <td align="right">912,977</td>
            <td align="right"></td>
        </tr>

        <tr>
            <td>00758B</td>
            <td></td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">1,381,250</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">30,568</td>
            <td align="right">X</td>
        </tr>

        <tr>
            <td>00759B</td>
            <td></td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">12,006,250</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">35,254</td>
            <td align="right">X</td>
        </tr>

        <tr>
            <td>00760B</td>
            <td></td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">98,880,000</td>
            <td align="right">184,000</td>
            <td align="right">1,000</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">185,000</td>
            <td align="right">47,558</td>
            <td align="right"></td>
        </tr>

        <tr>
            <td>00761B</td>
            <td>A</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">651,772,250</td>
            <td align="right">1,062,000</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">1,062,000</td>
            <td align="right">891,873</td>
            <td align="right"></td>
        </tr>

        <tr>
            <td>00764B</td>
            <td>25</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">361,750,000</td>
            <td align="right">5,829,000</td>
            <td align="right">142,000</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">5,971,000</td>
            <td align="right">4,984,949</td>
            <td align="right"></td>
        </tr>

        <tr>
            <td>00768B</td>
            <td>20</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">114,900,000</td>
            <td align="right">280,000</td>
            <td align="right">8,000</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">288,000</td>
            <td align="right">561,009</td>
            <td align="right"></td>
        </tr>

        <tr>
            <td>00772B</td>
            <td></td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">868,572,500</td>
            <td align="right">8,065,000</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">0</td>
            <td align="right">8,065,000</td>

In [21]:
div_element = driver.find_element(By.TAG_NAME, 'html')
#  DIV  HTML 
inner_html = div_element.get_attribute('innerHTML')
#print(inner_html)
soup = BeautifulSoup(inner_html, 'html.parser')
target_table = soup.select_one('table#intraday_trading_stat_result tbody')
#print(target_table)
cells=[]
for row in target_table.find_all('tr'):
    cells.append( row )
for i in range(1,len(cells)):
    ls=re.findall(r"<td[^>]*>(.*?)</td>",str(cells[i]))
    print(ls)

['00687B', '20', ' ', '3,131,000', '96,370,210', '96,388,430']
['00694B', '1-3', ' ', '108,000', '4,465,230', '4,465,570']
['00695B', '7-10', ' ', '346,000', '12,182,620', '12,182,650']
['00696B', '20', ' ', '1,492,000', '46,946,100', '46,942,860']
['00697B', '7-10', ' ', '75,000', '2,686,420', '2,687,090']
['00718B', '', ' ', '100,000', '2,058,000', '2,058,000']
['00719B', '1-3', ' ', '617,000', '19,573,710', '19,576,850']
['00720B', '', ' ', '11,756,000', '413,731,160', '413,567,820']
['00721B', '3-5', ' ', '0', '0', '0']
['00722B', '', ' ', '2,352,000', '90,928,000', '90,953,070']
['00723B', '', ' ', '26,000', '879,020', '879,200']
['00724B', '', ' ', '6,704,000', '234,315,840', '234,316,810']
['00725B', '', ' ', '611,000', '22,922,100', '22,963,870']
['00726B', '5Y+', ' ', '52,000', '1,781,520', '1,781,600']
['00727B', '1-5Y', ' ', '101,000', '4,043,040', '4,043,130']
['00734B', 'JPM', ' ', '497,000', '7,827,750', '7,827,790']
['00740B', '', ' ', '3,100,000', '125,777,890', '125,778,190']
['00741B', '', ' ', '75,000', '2,909,500', '2,907,250']
['00746B', 'A', ' ', '814,000', '29,945,000', '29,944,260']
['00749B', '10+', ' ', '0', '0', '0']
['00750B', '10+', ' ', '0', '0', '0']
['00751B', 'AAAA', ' ', '936,000', '32,213,680', '32,211,050']
['00754B', 'AAA-AA', ' ', '86,000', '3,113,870', '3,117,680']
['00755B', '', ' ', '29,000', '992,280', '993,420']
['00756B', '', ' ', '44,000', '1,441,850', '1,442,990']
['00758B', '', ' ', '50,000', '2,645,000', '2,645,000']
['00759B', '', ' ', '50,000', '2,840,000', '2,836,300']
['00760B', '', ' ', '51,000', '2,792,100', '2,792,300']
['00761B', 'A', ' ', '7,000', '255,960', '255,900']
['00764B', '25', ' ', '5,995,000', '183,966,710', '183,946,630']
['00768B', '20', ' ', '158,000', '8,586,850', '8,587,700']
['00772B', '', ' ', '1,934,000', '68,618,720', '68,622,480']
['00773B', '', ' ', '120,000', '4,433,950', '4,440,030']
['00777B', 'AAAA', ' ', '0', '0', '0']
['00778B', '20+', ' ', '0', '0', '0']
['00779B', '25+', ' ', '5,000', '154,400', '154,500']
['00780B', 'A', ' ', '50,000', '1,859,000', '1,859,000']
['00781B', 'A', ' ', '100,000', '3,254,900', '3,255,190']
['00782B', 'A', ' ', '50,000', '1,636,000', '1,636,000']
['00784B', '', ' ', '100,000', '3,842,000', '3,842,000']
['00785B', '', ' ', '100,000', '3,597,000', '3,597,000']
['00786B', '10IG', ' ', '0', '0', '0']
['00787B', '10IG', ' ', '40,000', '1,389,200', '1,389,200']
['00788B', '10IG', ' ', '3,000', '94,900', '95,040']
['00789B', 'A3', ' ', '0', '0', '0']
['00790B', '', ' ', '0', '0', '0']
['00791B', '1-5', ' ', '0', '0', '0']
['00792B', 'A', ' ', '4,000', '135,560', '135,810']
['00793B', 'AAA-A', ' ', '25,000', '822,500', '822,500']
['00794B', '7+', ' ', '25,000', '1,023,750', '1,023,750']
['00795B', '20', ' ', '2,323,000', '69,046,030', '69,106,940']
['00799B', 'A', ' ', '100,000', '3,263,000', '3,262,950']
['00831B', '1-3', ' ', '0', '0', '0']
['00834B', '10+', ' ', '21,000', '733,130', '733,130']
['00836B', '10A', ' ', '51,000', '1,578,390', '1,578,440']
['00840B', 'IG15+', ' ', '0', '0', '0']
['00841B', 'AAA-AA', ' ', '0', '0', '0']
['00842B', '', ' ', '50,000', '1,667,920', '1,668,000']
['00844B', '15IG', ' ', '1,000', '33,190', '33,190']
['00845B', '', ' ', '0', '0', '0']
['00846B', '', ' ', '0', '0', '0']
['00847B', '', ' ', '200,000', '5,513,600', '5,514,120']
['00848B', '', ' ', '100,000', '3,547,000', '3,547,000']
['00849B', 'EM0-5', ' ', '100,000', '3,729,500', '3,729,500']
['00853B', '10Aa-A', ' ', '411,000', '12,071,010', '12,071,240']
['00856B', '1-3', ' ', '0', '0', '0']
['00857B', '20', ' ', '139,000', '3,539,680', '3,540,430']
['00858', '500', ' ', '2,000', '64,480', '64,460']
['00859B', '0-1', ' ', '0', '0', '0']
['00860B', '1-5Y', ' ', '0', '0', '0']
['00862B', '', ' ', '171,000', '5,686,390', '5,682,790']
['00863B', '', ' ', '102,000', '3,475,790', '3,475,670']
['00864B', '0-1', ' ', '121,000', '5,519,140', '5,518,820']
['00867B', 'A-BBB', ' ', '100,000', '3,311,000', '3,311,000']
['00870B', '15EM', ' ', '0', '0', '0']
['00877', '5G', ' ', '210,000', '2,217,300', '2,220,480']
['00883B', 'ESG', ' ', '100,000', '3,252,500', '3,252,560']
['00884B', '', ' ', '100,000', '3,082,500', '3,082,500']
['00886', '', ' ', '0', '0', '0']
['00887', '50', ' ', '45,000', '470,460', '472,080']
['00888', 'ESG', ' ', '253,000', '4,156,520', '4,156,200']
['00890B', 'ESG BBB15+', ' ', '250,000', '8,537,500', '8,537,500']
['00928', 'ESG 30', ' ', '147,000', '2,588,960', '2,587,650']
['00931B', '20', ' ', '2,286,000', '33,446,760', '33,443,920']
['00933B', '10Y+', ' ', '4,304,000', '71,990,570', '72,003,690']
['00937B', 'ESG20+', ' ', '19,581,000', '309,140,490', '308,996,930']
['00942B', 'A20+', ' ', '1,744,000', '27,052,590', '27,098,660']
['1240', '', ' ', '3,000', '163,000', '163,900']
['1259', '', ' ', '0', '0', '0']
['1264', '', ' ', '3,000', '937,500', '937,000']
['1268', '', ' ', '12,000', '2,039,000', '2,045,000']
['1336', '', ' ', '9,000', '185,450', '184,500']
['1565', '', ' ', '77,000', '14,656,500', '14,675,500']
['1569', '', ' ', '32,000', '758,700', '766,700']
['1570', '', ' ', '347,000', '11,322,000', '11,428,200']
['1580', '', ' ', '16,000', '2,556,500', '2,568,500']
['1584', '', ' ', '327,000', '11,248,900', '11,217,250']
['1586', '', ' ', '3,000', '92,900', '93,200']
['1591', '-KY', ' ', '104,000', '6,969,700', '6,994,100']
['1593', '', ' ', '7,000', '308,700', '313,850']
['1595', '', ' ', '2,000', '76,600', '76,700']
['1599', '', ' ', '0', '0', '0']
['1742', '', ' ', '0', '0', '0']
['1777', '', ' ', '7,000', '630,100', '629,100']
['1784', '', ' ', '1,160,000', '97,696,200', '97,961,100']
['1785', '', ' ', '1,544,000', '75,480,050', '75,552,000']
['1788', '', '', '1,000', '144,000', '143,500']
['1796', '', ' ', '20,000', '1,203,900', '1,201,500']
['1813', '', ' ', '16,000', '322,400', '324,800']
['1815', '', ' ', '39,037,000', '1,091,872,900', '1,087,796,150']
['2035', '', ' ', '1,000', '32,900', '32,950']
['2061', '', ' ', '436,000', '9,731,250', '9,707,100']
['2063', '', ' ', '0', '0', '0']
['2064', '', ' ', '4,000', '60,300', '60,550']
['2065', '', ' ', '3,000', '192,700', '193,000']
['2066', '', ' ', '208,000', '30,666,000', '30,767,500']
['2070', '', ' ', '250,000', '10,454,950', '10,394,000']
['2221', '', ' ', '0', '0', '0']
['2230', '', ' ', '393,000', '65,837,000', '65,919,000']
['2235', '', ' ', '77,000', '3,962,150', '3,937,000']
['2596', '', ' ', '27,000', '1,074,850', '1,074,450']
['2640', '', ' ', '2,000', '238,000', '239,500']
['2641', '', ' ', '9,653,000', '229,224,000', '229,800,400']
['2643', '', ' ', '43,000', '3,736,300', '3,747,000']
['2726', '-KY', ' ', '2,000', '62,050', '62,900']
['2729', '', ' ', '1,000', '233,500', '232,500']
['2732', '', ' ', '10,000', '1,121,500', '1,122,500']
['2736', '', ' ', '48,000', '1,294,100', '1,294,350']
['2743', '', ' ', '417,000', '65,356,500', '65,474,500']
['2745', '', ' ', '462,000', '57,736,000', '57,604,500']
['2754', '', ' ', '17,000', '1,759,500', '1,764,500']
['2755', '', ' ', '0', '0', '0']
['2756', '', ' ', '0', '0', '0']
['2916', '', ' ', '20,000', '1,170,100', '1,165,500']
['2926', '', ' ', '2,000', '119,500', '119,700']
['3066', '', ' ', '2,000', '41,950', '41,300']
['3071', '', ' ', '451,000', '17,935,600', '18,009,500']
['3073', '', ' ', '1,000', '37,000', '36,750']
['3078', '', ' ', '210,000', '16,055,200', '15,900,500']
['3081', '', ' ', '568,000', '78,264,000', '78,662,500']
['3083', '', ' ', '129,000', '6,657,100', '6,655,300']
['3086', '', ' ', '381,000', '55,504,500', '56,717,500']
['3088', '', ' ', '747,000', '75,105,400', '75,198,600']
['3093', '*', ' ', '1,000', '30,600', '30,500']
['3105', '', ' ', '393,000', '54,112,500', '54,146,500']
['3114', '', ' ', '4,000', '114,750', '115,500']
['3118', '', ' ', '27,000', '1,002,700', '995,450']
['3122', '', ' ', '8,532,000', '494,137,400', '494,679,800']
['3128', '', ' ', '32,000', '955,900', '963,700']
['3131', '', ' ', '384,000', '494,190,000', '493,235,000']
['3141', '', ' ', '669,000', '67,365,700', '67,343,900']
['3147', '', ' ', '40,000', '5,049,500', '5,049,500']
['3152', '', ' ', '20,000', '4,100,500', '4,124,000']
['3162', '', ' ', '1,648,000', '56,053,350', '56,083,350']
['3163', '', ' ', '1,329,000', '139,884,500', '139,812,000']
['3169', '', ' ', '107,000', '14,002,000', '14,027,500']
['3171', '', ' ', '13,000', '389,900', '390,450']
['3178', '', ' ', '34,000', '3,615,000', '3,624,500']
['3188', '', ' ', '855,000', '28,549,500', '28,585,300']
['3202', '', ' ', '5,386,000', '101,073,950', '101,041,750']
['3205', '', ' ', '20,000', '807,350', '807,850']
['3206', '', ' ', '47,000', '2,363,350', '2,359,450']
['3207', '', ' ', '823,000', '122,753,000', '123,080,000']
['3211', '', ' ', '134,000', '12,231,500', '12,288,500']
['3213', '', ' ', '196,000', '21,237,500', '21,546,500']
['3217', '', ' ', '121,000', '19,361,000', '19,404,500']
['3218', '', ' ', '66,000', '16,533,500', '16,513,500']
['3219', '', ' ', '204,000', '8,782,200', '8,782,200']
['3221', '', ' ', '41,000', '1,193,400', '1,199,150']
['3224', '', ' ', '122,000', '5,349,950', '5,344,550']
['3226', '', ' ', '51,000', '3,009,400', '3,009,500']
['3227', '', ' ', '180,000', '29,397,500', '29,445,000']
['3232', '', ' ', '8,000', '225,100', '225,200']
['3236', '', ' ', '5,000', '109,000', '108,700']
['3252', '', ' ', '3,000', '64,850', '65,150']
['3260', '', ' ', '2,481,000', '268,161,500', '269,064,000']
['3264', '', ' ', '874,000', '65,849,300', '66,096,100']
['3265', '', ' ', '76,000', '9,487,500', '9,472,500']
['3268', '', ' ', '883,000', '27,304,900', '27,239,550']
['3272', '', ' ', '2,000', '60,350', '59,900']
['3276', '', ' ', '244,000', '4,371,050', '4,340,100']
['3284', '', ' ', '754,000', '29,632,800', '29,818,650']
['3285', '', ' ', '351,000', '11,119,100', '11,228,450']
['3287', '', ' ', '1,423,000', '70,721,900', '70,752,500']
['3289', '', ' ', '761,000', '104,603,500', '104,704,500']
['3290', '', ' ', '39,000', '1,138,850', '1,141,750']
['3293', '', ' ', '439,000', '462,825,000', '465,220,000']
['3294', '', ' ', '424,000', '15,159,500', '15,181,900']
['3297', '', ' ', '280,000', '6,056,250', '6,030,350']
['3303', '', ' ', '316,000', '14,072,400', '14,144,700']
['3306', '', ' ', '267,000', '15,763,700', '15,769,100']
['3310', '', ' ', '13,000', '1,298,200', '1,292,300']
['3313', '', ' ', '676,000', '14,857,000', '14,831,050']
['3317', '', ' ', '937,000', '52,917,500', '52,738,700']
['3322', '', ' ', '42,000', '980,750', '984,400']
['3323', '', ' ', '59,000', '1,635,600', '1,638,600']
['3324', '', ' ', '6,169,000', '4,734,971,000', '4,734,798,000']
['3325', '', ' ', '275,000', '8,660,450', '8,669,700']
['3332', '', ' ', '0', '0', '0']
['3339', '', ' ', '502,000', '23,040,600', '23,079,950']
['3354', '', ' ', '68,000', '1,604,300', '1,589,650']
['3357', '', ' ', '60,000', '7,836,000', '7,759,500']
['3360', '', ' ', '284,000', '4,658,300', '4,645,250']
['3362', '', ' ', '749,000', '169,095,000', '169,539,000']
['3372', '', ' ', '1,775,000', '38,658,050', '38,859,150']
['3373', '', ' ', '1,694,000', '46,052,300', '46,090,800']
['3374', '', ' ', '10,091,000', '1,451,473,500', '1,459,052,000']
['3388', '', ' ', '1,000', '78,000', '77,900']
['3390', '', ' ', '281,000', '9,597,650', '9,578,800']
['3402', '', ' ', '105,000', '10,430,900', '10,415,200']
['3430', '', ' ', '33,000', '2,002,000', '1,999,800']
['3434', '', ' ', '13,000', '381,150', '386,350']
['3438', '', ' ', '57,000', '4,171,900', '4,150,500']
['3441', '', ' ', '35,000', '1,276,500', '1,282,700']
['3444', '', ' ', '398,000', '46,481,500', '46,429,000']
['3455', '', ' ', '1,997,000', '215,152,000', '215,163,000']
['3465', '', ' ', '1,000', '67,000', '67,900']
['3479', '', ' ', '587,000', '71,907,000', '71,862,500']
['3483', '', ' ', '2,524,000', '471,792,500', '472,731,000']
['3484', '', ' ', '592,000', '32,807,100', '32,984,500']
['3489', '', ' ', '37,000', '1,073,350', '1,066,350']
['3490', '', ' ', '310,000', '10,961,450', '11,028,450']
['3492', '', ' ', '118,000', '2,362,450', '2,392,200']
['3498', '', ' ', '294,000', '10,806,700', '10,847,350']
['3511', '', ' ', '4,000', '100,900', '100,750']
['3512', '', ' ', '45,000', '1,965,800', '1,967,200']
['3516', '', ' ', '31,000', '791,150', '791,150']
['3520', '', ' ', '448,000', '8,876,850', '8,885,400']
['3526', '', ' ', '48,000', '12,230,500', '12,217,000']
['3527', '', ' ', '9,000', '821,100', '820,700']
['3529', '', ' ', '182,000', '425,665,000', '426,325,000']
['3531', '', ' ', '8,000', '262,850', '264,550']
['3540', '', ' ', '469,000', '22,313,800', '22,330,800']
['3541', '', ' ', '15,000', '474,300', '473,350']
['3546', '', ' ', '27,000', '2,368,800', '2,386,300']
['3548', '', ' ', '2,508,000', '498,824,000', '499,495,500']
['3551', '', ' ', '62,000', '6,404,500', '6,389,000']
['3552', '', ' ', '35,000', '3,868,000', '3,885,000']
['3556', '', ' ', '9,000', '476,500', '481,100']
['3558', '', ' ', '150,000', '28,141,000', '28,138,500']
['3564', '', ' ', '5,526,000', '606,484,500', '608,464,500']
['3567', '', ' ', '16,000', '659,200', '656,550']
['3577', '', ' ', '11,000', '571,200', '568,700']
['3580', '', ' ', '436,000', '26,479,600', '26,609,000']
['3581', '', ' ', '10,000', '284,400', '286,400']
['3587', '', ' ', '123,000', '33,253,000', '33,267,000']
['3594', '', ' ', '100,000', '4,507,000', '4,513,800']
['3597', '', ' ', '5,000', '121,200', '121,800']
['3611', '', ' ', '7,000', '1,580,500', '1,587,500']
['3615', '', ' ', '21,000', '533,300', '534,900']
['3623', '', ' ', '5,000', '145,150', '143,350']
['3624', '', ' ', '685,000', '37,844,200', '37,645,700']
['3628', '', ' ', '3,000', '137,550', '138,650']
['3630', '', ' ', '13,000', '384,400', '384,950']
['3631', '', ' ', '127,000', '5,511,900', '5,490,600']
['3646', '', ' ', '0', '0', '0']
['3663', '', ' ', '722,000', '34,965,600', '34,951,850']
['3666', '', ' ', '65,000', '2,282,550', '2,289,900']
['3675', '', ' ', '901,000', '316,061,000', '315,809,000']
['3680', '', ' ', '233,000', '100,442,000', '100,435,000']
['3685', '', ' ', '5,000', '96,000', '95,250']
['3687', '', ' ', '180,000', '18,635,500', '18,747,500']
['3689', '', ' ', '319,000', '22,794,000', '22,784,400']
['3691', '', ' ', '193,000', '25,443,000', '25,434,000']
['3693', '', ' ', '292,000', '108,544,500', '108,756,000']
['3707', '', ' ', '326,000', '20,043,800', '20,073,000']
['3709', '', ' ', '6,000', '148,300', '148,950']
['4102', '', ' ', '106,000', '3,891,600', '3,902,750']
['4105', '', ' ', '41,000', '3,136,900', '3,139,200']
['4107', '', ' ', '3,000', '389,000', '387,500']
['4109', '', ' ', '91,000', '1,842,750', '1,858,250']
['4111', '', ' ', '81,000', '2,409,200', '2,383,850']
['4113', '', ' ', '1,897,000', '123,078,600', '123,124,600']
['4114', '', ' ', '203,000', '8,325,400', '8,345,850']
['4116', '', ' ', '8,000', '454,800', '453,900']
['4120', '', ' ', '10,000', '430,550', '431,350']
['4121', '', '', '45,000', '1,032,400', '1,029,950']
['4123', '', ' ', '1,459,000', '71,227,450', '71,249,400']
['4126', '', ' ', '31,000', '2,856,700', '2,863,400']
['4128', '', ' ', '538,000', '21,845,000', '21,924,900']
['4129', '', ' ', '136,000', '13,234,800', '13,249,200']
['4130', '', ' ', '42,000', '1,026,200', '1,032,000']
['4138', '', ' ', '11,000', '1,184,000', '1,187,500']
['4147', '', ' ', '731,000', '67,451,900', '67,348,700']
['4153', '', ' ', '2,000', '78,150', '78,400']
['4157', '*-KY', ' ', '1,450,000', '22,670,600', '22,727,100']
['4161', '', ' ', '29,000', '966,100', '967,950']
['4162', '', ' ', '249,000', '23,652,200', '23,712,700']
['4163', '', ' ', '0', '0', '0']
['4167', '', ' ', '22,014,000', '535,857,000', '531,832,100']
['4168', '', ' ', '179,000', '4,974,200', '5,003,250']
['4171', '', ' ', '302,000', '10,233,550', '10,269,400']
['4173', '', ' ', '3,000', '64,950', '65,250']
['4174', '', ' ', '260,000', '16,084,100', '16,119,500']
['4175', '', ' ', '1,000', '73,300', '73,100']
['4205', '', ' ', '0', '0', '0']
['4207', '', ' ', '4,000', '72,700', '72,650']
['4303', '', ' ', '4,704,000', '225,509,200', '225,596,700']
['4305', '', ' ', '13,000', '580,750', '588,850']
['4401', '', ' ', '549,000', '15,197,100', '15,138,150']
['4406', '', ' ', '2,000', '21,400', '21,500']
['4413', '', ' ', '15,000', '278,100', '277,400']
['4416', '', ' ', '0', '0', '0']
['4417', '', ' ', '1,000', '38,600', '38,750']
['4420', '', ' ', '68,000', '4,027,500', '4,060,600']
['4430', '', ' ', '4,000', '87,050', '88,100']
['4432', '', ' ', '23,000', '540,450', '539,400']
['4433', '', ' ', '1,000', '30,050', '30,750']
['4502', '', ' ', '4,000', '110,000', '110,400']
['4503', '', ' ', '72,000', '4,250,800', '4,246,500']
['4506', '', ' ', '14,000', '1,538,000', '1,539,000']
['4510', '', ' ', '259,000', '4,403,050', '4,385,350']
['4513', '', ' ', '2,538,000', '113,496,900', '113,862,200']
['4523', '', ' ', '1,000', '51,000', '52,100']
['4527', '', ' ', '1,000', '45,200', '45,700']
['4528', '', ' ', '0', '0', '0']
['4533', '', ' ', '4,786,000', '224,859,750', '225,100,150']
['4535', '', '', '0', '0', '0']
['4538', '', ' ', '0', '0', '0']
['4541', '', ' ', '34,000', '1,002,800', '1,001,900']
['4542', '', ' ', '73,000', '5,087,000', '5,107,500']
['4543', '', ' ', '794,000', '50,295,000', '50,201,600']
['4550', '', ' ', '60,000', '2,347,950', '2,338,200']
['4556', '', ' ', '7,000', '238,200', '237,600']
['4558', '', ' ', '15,000', '504,850', '502,800']
['4561', '', ' ', '4,363,000', '250,863,400', '250,786,900']
['4563', '', ' ', '106,000', '6,000,200', '6,013,900']
['4568', '', ' ', '5,000', '275,200', '276,600']
['4577', '', ' ', '15,000', '356,650', '354,950']
['4580', '', ' ', '55,000', '6,017,000', '6,027,000']
['4702', '', ' ', '0', '0', '0']
['4706', '', ' ', '4,000', '120,900', '121,300']
['4707', '', ' ', '75,000', '1,093,050', '1,090,650']
['4711', '', ' ', '2,000', '34,400', '34,450']
['4714', '', ' ', '3,445,000', '79,311,250', '79,453,150']
['4716', '', ' ', '337,000', '6,481,600', '6,480,650']
['4721', '', ' ', '28,000', '2,164,000', '2,158,600']
['4726', '', ' ', '3,191,000', '159,147,000', '159,567,550']
['4728', '', ' ', '20,000', '6,174,000', '6,176,500']
['4729', '', '', '2,000', '34,500', '35,000']
['4735', '', ' ', '1,000', '35,100', '35,200']
['4741', '', ' ', '2,000', '77,800', '77,900']
['4743', '', ' ', '907,000', '139,122,000', '139,278,500']
['4744', '', ' ', '211,000', '5,307,900', '5,316,400']
['4745', '-KY', ' ', '1,000', '23,500', '23,750']
['4747', '', ' ', '41,000', '2,938,200', '2,930,400']
['4754', '', ' ', '24,000', '1,065,600', '1,062,850']
['4760', '', '', '86,000', '12,077,000', '11,937,000']
['4768', '', ' ', '188,000', '45,273,500', '45,248,500']
['4905', '', ' ', '45,000', '4,691,500', '4,688,000']
['4907', '', ' ', '82,000', '6,010,900', '6,047,700']
['4908', '', ' ', '579,000', '58,221,400', '58,246,000']
['4909', '', ' ', '1,644,000', '141,096,700', '141,086,400']
['4911', '', ' ', '4,000', '235,700', '237,100']
['4923', '', ' ', '3,000', '138,250', '139,500']
['4931', '', ' ', '30,000', '898,350', '891,250']
['4933', '', ' ', '25,000', '1,559,000', '1,555,000']
['4939', '', '', '13,000', '292,050', '287,250']
['4945', '', ' ', '49,000', '4,848,200', '4,861,200']
['4951', '', ' ', '291,000', '26,513,700', '26,496,600']
['4953', '', ' ', '80,000', '10,954,000', '10,950,000']
['4966', '-KY', ' ', '319,000', '252,221,000', '252,111,000']
['4971', 'IET-KY', ' ', '13,000', '782,700', '778,700']
['4972', '', ' ', '4,000', '112,600', '111,800']
['4973', '', ' ', '661,000', '30,407,500', '30,549,050']
['4974', '', ' ', '16,000', '1,171,800', '1,170,300']
['4979', '', ' ', '5,758,000', '821,113,500', '824,237,500']
['4991', '-KY', ' ', '70,000', '3,134,050', '3,152,200']
['4995', '', '', '2,000', '108,200', '108,900']
['5009', '', ' ', '642,000', '33,093,500', '33,162,900']
['5011', '', ' ', '13,000', '308,700', '307,750']
['5013', '', ' ', '3,000', '102,750', '104,250']
['5014', '', ' ', '92,000', '1,551,900', '1,549,500']
['5015', '', ' ', '0', '0', '0']
['5016', '', ' ', '0', '0', '0']
['5201', '', ' ', '7,000', '196,800', '198,450']